#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.glassmorph-card {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 1px solid rgba(209, 213, 219, 0.15);
  background: rgba(209, 213, 219, 0.1);
  backdrop-filter: blur(4px);
  transition-duration: 100ms;
  transition-timing-function: ease-in;
  width: 100%;
}

.glassmorph-card:hover{
  background: rgba(209, 213, 219, 0.2);
}

.student-img{
  width: 300px;
}

@media screen and (width < 768px) {
  .glassmorph-card {
    width: 30%;
  }
  .student-img{
    width: 100px;
    border-radius: 1rem;
    border: white 1px solid;
  }
}